= label :topic, :header, 'Topic'
= text_field :topic, 'header'

= label :topic, :subject, 'subject'
= select :topic, :subject, ['Food','Dogs', 'Cars', 'People', 'School', 'Sports', 'Planes', 'Computers', 'Cats', 'Projects']
